# .github/workflows/release.yml

name: Release

on:
  push:
    tags:
      - '*'

jobs:
  build:
    name: release / ${{ matrix.os }} / ghc ${{ matrix.ghc }}
    runs-on: windows-latest
    
    strategy:
      matrix:
        os: [windows-latest]
        ghc: ["9.6.3"]

    steps:
    - uses: actions/checkout@v4

    - uses: haskell-actions/setup@v2
      name: Setup Haskell
      with:
        ghc-version: ${{ matrix.ghc }}
        cabal-version: 'latest'

    - uses: actions/cache@v4
      name: Cache Cabal dependencies and build artifacts
      with:
        path: |
          ~/.cabal/store
          dist-newstyle
        key: ${{ matrix.os }}-${{ matrix.ghc }}-v3-${{ hashFiles('**/*.cabal') }}

    - name: Build
      run: cabal build


